@import "tailwindcss";

@theme {
  --color-emt-verde: #2D7F4F;
  --color-emt-verde-escuro: #1E5A38;
  --color-emt-verde-claro: #E8F5E9;
  --color-emt-amarelo: #FDB933;
  --color-emt-cinza: #3E3E3E;
  --color-emt-cinza-medio: #757575;
  --color-emt-cinza-claro: #F5F5F5;
  --font-sans: 'Inter', sans-serif;
}
